<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<http auto-config="true" use-expressions="true">
		<intercept-url pattern="/css/**" access="permitAll" />
		<intercept-url pattern="/js/**" access="permitAll" />
		<intercept-url pattern="/index.jsp" access="permitAll" />
		<intercept-url pattern="/login.jsp" access="permitAll" />
		<intercept-url pattern="/jsp/loginFailed.html" access="permitAll" />
		<intercept-url pattern="/jsp/logout.html" access="permitAll" />
		<intercept-url pattern="/jsp/**" access="isAuthenticated()" />
		<intercept-url pattern="/jsp/admin/**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/**" access="denyAll" />
		<form-login login-page="/login.jsp"
			default-target-url="/jsp/home.html"
			authentication-failure-url="/jsp/loginFailed.html" />
		<logout logout-success-url="/jsp/logout.html" delete-cookies="JSESSIONID" />
	</http>

	<authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="fred" password="temp" authorities="ROLE_USER, ROLE_ADMIN" />
				<user name="eddie" password="temp" authorities="ROLE_USER, ROLE_ADMIN" />
				<user name="anonymous" password="temp" authorities="ROLE_USER" />
			</user-service>
		</authentication-provider>
	</authentication-manager>
</beans:beans>